{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["jsx-a11y", "prettier"],
  "rules": {
    "no-console": "warn",
    "semi": "error",
    "indent": ["error", 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "quotes": ["error", "single"],
    "no-alert": "error",
    "block-scoped-var": "warn",
    "camelcase": "warn",
    "array-bracket-newline": "warn",
    "no-unused-vars": "warn",
    "no-compare-neg-zero": "warn",
    "no-debugger": "warn",
    "no-dupe-args": "error",
    "no-duplicate-case": "error",
    "no-empty": "warn",
    "capitalized-comments": ["warn", "always"],
    "no-ex-assign": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-parens": "error",
    "no-extra-semi": "error",
    "no-func-assign": "warn",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "template-curly-spacing": "warn",
    "no-unreachable": "warn",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "warn",
    "arrow-parens": "warn",
    "no-duplicate-imports": "error",
    "no-dupe-keys": "warn",
    "sort-imports": "warn",
    "space-before-function-paren": "warn",
    "sort-keys": "warn",
    "multiline-ternary": "warn",
    "id-match": "warn",
    "eqeqeq": "warn",
    "computed-property-spacing": "warn",
    "consistent-this": "error",
    "no-this-before-super": "warn",
    "no-undefined": "warn",
    "no-underscore-dangle": "warn",
    "no-restricted-globals": "warn",
    "no-multi-spaces": "warn",
    "no-trailing-spaces": "warn",
    "array-callback-return": "warn",
    "space-before-blocks":"warn",
    "space-infix-ops":"warn"
  }
}
