{
    "extends": "react-app",
    "plugins": ["eslint-plugin"],
    "rules": {
        "no-alert": "warn",
        "no-console": "warn",
        "constructor-super": "warn",
        "space-in-parens": "warn",
        "func-names": "warn",
        "indent": [2, 2, {"SwitchCase": 1}]
    }
}